body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

.App {
  font-family: sans-serif;
}

.Title {
  text-transform: uppercase;
}

.StudentCard {
  width: 31%;
  display: inline-block;
  border: 1px solid;
  margin: 20px 1%;
  padding: 5px;
}

.StudentCard img {
  width: 40%;
  margin-right: 10px;
}

.StudentCard .StudentDetails {
  width: 50%;
  display: inline-block;
}